<div fxLayout="row">
<div fxLayout="column" fxLayoutAlign="flex-start">
  <mat-card class="z-depth-5">
    <mat-card-header>RECIPE NEWS</mat-card-header>
    <mat-card-content >
        <ul>
            <li><a href="https://www.pbs.org/newshour/health/mark-bittmans-recipe-for-cooking-the-perfect-salmon" target="_blank">Mark Bittman’s recipe for cooking the perfect salmon</a></li>
            <li><a href="https://www.nytimes.com/2019/06/19/dining/juneteenth-recipes.html" target="_blank">A Recipe for Juneteenth</a></li>
            <li><a href="https://theweek.com/articles/846604/10-best-pasta-salad-recipes-need-summer" target="_blank">The 10 best pasta salad recipes you need this summer</a></li>
          </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="z-depth-5">
    <mat-card-header>Best Recipe Websites on a Budget</mat-card-header>
    <mat-card-content>
        <ul>
            <li><a href="https://www.budgetbytes.com/" target="_blank">BUDGETBYTE$</a></li>
            <li><a href="https://goodcheapeats.com/" target="_blank">Cheap Eats</a></li>
            <li><a href="https://www.cheaprecipeblog.com/" target="_blank">Cheap Recipe Blog</a></li>
            <li><a href="https://www.allrecipes.com/recipes/15522/everyday-cooking/budget-cooking/" target="_blank">AllRecipes Budget Cooking</a></li>
          </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="z-depth-5">
      <mat-card-header>Best Recipe Websites for Gourmet</mat-card-header>
      <mat-card-content>
          <ul>
              <li><a href="https://www.epicurious.com/" target="_blank">Epicurious</a></li>
              <li><a href="https://www.finecooking.com/recipes-menus" target="_blank">Fine Cooking</a></li>
              <li><a href="https://www.foodandwine.com/recipes" target="_blank">Food & Wine</a></li>
              <li><a href="https://www.bonappetit.com/" target="_blank">Bon Appetit</a></li>
            </ul>
      </mat-card-content>
    </mat-card>
    <mat-card class="z-depth-5">
        <mat-card-header>Best Recipe Websites for Paleo Diet</mat-card-header>
        <mat-card-content>
            <ul>
                <li><a href="https://nomnompaleo.com/" target="_blank">Nom Nom Paleo</a></li>
                <li><a href="https://paleoleap.com/" target="_blank">Paleo Leap</a></li>
                <li><a href="https://www.paleoplan.com/recipes/" target="_blank">Paleo Plan</a></li>
                <li><a href="https://www.delish.com/cooking/g4198/paleo-diet-recipes/" target="_blank">40 Paleo Recipes That Will Make You Forget You're On A Diet</a></li>
                <li><a href="https://www.allrecipes.com/recipes/16705/healthy-recipes/paleo-diet/" target="_blank">AllRecipes Paleo Cooking</a></li>
              </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="flex-end">
        <mat-card class="z-depth-5">
            <mat-card-header>Best Recipe Websites to Eat Foods that Will Lower High Blood Pressure</mat-card-header>
            <mat-card-content>
                <ul>
                    <li><a href="http://www.eatingwell.com/recipes/18055/health-condition/high-blood-pressure/" target="_blank">EatingWell</a></li>
                    <li><a href="https://www.pritikin.com/simple-meal-plan-blood-pressure" target="_blank">Pritikin Meal Plan</a></li>
                    <li><a href="https://www.tasteofhome.com/collection/foods-that-help-you-lower-your-blood-pressure/" target="_blank">28 Foods That Can Help You Lower Your Blood Pressure</a></li>

                  </ul>
            </mat-card-content>
          </mat-card>
          <mat-card class="z-depth-5">
              <mat-card-header>Best Recipe Websites to Eat Foods to Lower High Cholesterol</mat-card-header>
              <mat-card-content>
                  <ul>
                      <li><a href="https://www.budgetbytes.com/" target="_blank">BUDGETBYTE$</a></li>
                      <li><a href="https://goodcheapeats.com/" target="_blank">Cheap Eats</a></li>
                      <li><a href="https://www.cheaprecipeblog.com/" target="_blank">Cheap Recipe Blog</a></li>
                      <li><a href="https://www.allrecipes.com/recipes/737/healthy-recipes/low-cholesterol/" target="_blank">AllRecipes Low-Cholesterol Cooking</a></li>
                      <li><a href="https://www.allrecipes.com/recipes/15522/everyday-cooking/budget-cooking/" target="_blank">AllRecipes Budget Cooking</a></li>
                    </ul>
              </mat-card-content>
            </mat-card>
    </div>
  </div>


