<section>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <input matInput type="firstName" placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="lastName" placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password">
    </mat-form-field>
  </form>
</section>

